<hr>
  <h1>Cash Entries</h1>
  <div class="table-fixed">
    <table class="table table-striped table-hover table-bordered table-dark text-center table-fixed">
      <thead>
        <tr>
          <th>AMOUNT</th>
          <th>DESCRIPTION</th>
          <th>TYPE</th>
          <th>DATE</th>
          <th colspan="3">ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        <% cash_entries.each do |cash_entry| %>
        <tr>
          <td><%= cash_entry.amount %></td>
          <td><%= cash_entry.description %></td>
          <td><%= cash_entry.entry_type.titleize %></td>
          <td><%= cash_entry.date %></td>
          <td><%= link_to 'Show', cash_entry , class: 'nav-link'%></td>
          <td><%= link_to 'Edit', edit_cash_entry_path(cash_entry) , class: 'nav-link'%></td>
          <td>
            <%= link_to 'Destroy', cash_entry, method: :delete, data: { confirm: 'Are you sure?' } , class: 'nav-link'%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>