<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @cash_entry.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cash_entry.description %>
</p>

<p>
  <strong>Entry Type:</strong>
  <%= @cash_entry.entry_type %>
</p>

<p>
  <strong>Dated:</strong>
  <%= @cash_entry.date %>
</p>

<%= link_to 'Edit', edit_cash_entry_path(@cash_entry) %> |
<%= link_to 'Back', cash_entries_path %>
