<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :father_name %>
    <%= form.text_field :father_name %>
  </div>

  <div class="field">
    <%= form.label :roll_no %>
    <%= form.number_field :roll_no %>
  </div>

  <div class="field">
    <%= form.label :Bform %>
    <%= form.text_field :Bform %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.date_field :age %>
  </div>

  <div class="field">
    <%= form.label :fee_amount %>
    <%= form.text_field :fee_amount %>
  </div>

  <div class="field">
    <%= form.label 'Class' %>
    <%= form.select :grade_id, options_for_select(@grades)%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
