<%= link_to 'New Student', new_student_path, class: 'btn btn-primary my-2' %>
<hr>
<h1>Students</h1>

<table class="table table-striped table-hover table-bordered table-dark text-center">
  <thead>
    <tr>
      <th>NAME</th>
      <th>ROLL NO</th>
      <th>BFORM</th>
      <th>CONTACT</th>
      <th>AGE</th>
      <th>FATHER NAME</th>
      <th colspan="3">ACTIONS</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.roll_no %></td>
        <td><%= student.Bform %></td>
        <td><%= student.contact %></td>
        <td><%= student.age %></td>
        <td><%= student.father_name %></td> 
        <td><%= link_to 'Show', student , class: 'nav-link' %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class: 'nav-link' %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } , class: 'nav-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

