<%= form_with(model: @result, url: result_student_path(@student), local: true) do |form| %>

  <div class="field">
    <%= form.label :result_type %>
    <%= form.select :result_type_id, ResultType.all.map { |t| [t.title.titleize, t.id] } %>
  </div>
  

  <% @student.subjects.each do |s| %>
    <div class="field">
      <%= form.label s.name %>
      <%= text_field_tag "marks[#{s.id}][total_marks]", "", placeholder: "Enter Total Marks" %>
      <%= text_field_tag "marks[#{s.id}][obtain_marks]", "", placeholder: "Enter Obtain Marks" %>
    </div>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
