<p id="notice"><%= notice %></p>

<h1>Fee Details</h1>

<table class="table table-striped table-hover table-bordered table-dark text-center">
  <thead>
    <tr>
      <th>Student</th>
      <th>Month</th>
      <th>Status</th>
      <th>Fee Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fee_details.each do |fee_detail| %>
      <tr>
        <td><%= fee_detail.student.name %></td>
        <td><%= fee_detail.submitted_at %></td>
        <td><%= fee_detail.status %></td>
        <td><%= fee_detail.amount %></td>
        <td><%= link_to 'Show', fee_detail %></td>
        <td><%= link_to 'Edit', edit_student_fee_detail_path(fee_detail.student, fee_detail) %></td>
        <td><%= link_to 'Destroy', fee_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
